* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
.mainbloc {
  margin-left: 20vh;
}
header {
  position: relative;
  font-size: medium;
  display: flex;
  flex-direction: row;
  height: 12vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vh 0 10vh;
  border: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
}
.Logo {
  display: flex;
  margin-left: 10vh;
}
header ul {
  display: inline-block;
  list-style: none;
  height: 12vh;
}
header ul li {
  display: inline-block;
  padding: 4vh 1vh 4vh 1vh;
  color: hsl(233, 8%, 62%);
}
header li:hover {
  display: inline-block;
  color: hsl(233, 26%, 24%);
  border-bottom: solid 4px hsl(192, 70%, 51%);
}
.Nav {
  display: flex;
  flex-direction: row;
}
.BtnRequest {
  font-weight: 700;
  color: white;
  border-radius: 50px;
  height: 6vh;
  width: 25vh;
  border: 0;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  font-size: 100%;
}
.BtnRequest:hover {
  opacity: 0.5;
}
.Pitch {
  border: 0;
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 98%);
  height: 100vh;
}
.BlocPitch {
  width: 85vh;
  padding-top: 25vh;
  padding-left: 20vh;
}
.BlocPitch h1 {
  font-weight: 400;
  font-size: 2.5em;
  color: hsl(233, 26%, 24%);
}
.BlocPitch h5 {
  padding: 4vh 0 6vh 0;
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.ImgPhones {
  margin-left: 50rem;
  margin-top: -10rem;
  position: absolute;
  display: flex;
  height: auto;
}
.bg-intro {
  display: flex;
  z-index: 0;
}
.bg-mockups {
  position: absolute;
  display: flex;
  z-index: 1;
  padding-left: 25vh;
  padding-top: 25vh;
}
.Choose {
  /* ----------------------------------------------------------------------- choose */
  border: 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 16%, 96%);
  height: 80vh;
}
.Why {
  display: flex;
  flex-direction: column;
  width: 100vh;
  padding-top: 12vh;
  padding-left: 20vh;
}
.Why h2 {
  display: flex;
  font-weight: 400;
  font-size: 1.8em;
  color: hsl(233, 26%, 24%);
}
.Why h5 {
  display: flex;
  padding: 4vh 0 6vh 0;
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
.blocs1 {
  justify-content: center;
  justify-content: space-between;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
}
.blocs1 h3 {
  color: hsl(233, 26%, 24%);
  padding-top: 4vh;
  font-weight: 400;
}
.blocs1 h6 {
  line-height: 180%;
  padding-top: 3vh;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}
.Online {
  width: 30vh;
  display: flex;
  flex-direction: column;
  padding: 0 1vh 1vh 0;
}
.Simple {
  width: 30vh;
  display: flex;
  flex-direction: column;
  padding: 0 1vh 1vh 0;
}
.Fast {
  width: 30vh;
  display: flex;
  flex-direction: column;
  padding: 0 1vh 1vh 0;
}
.Open {
  width: 30vh;
  display: flex;
  flex-direction: column;
  padding: 0 1vh 1vh 0;
}
.Articles {
  /* ---------------------------------------------------------------- articles */
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 1vh 1vh 0;
}
.Title {
  padding-left: 20vh;
  padding-top: 10vh;
}
.Title h2 {
  display: flex;
  font-weight: 400;
  font-size: 1.8em;
  color: hsl(233, 26%, 24%);
}
.Blocs2 {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20vh;
  margin-right: 20vh;
}
.article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30vh;
  background-color: white;
  padding: 0 1vw 1vw 0;
}
.imgArticle img {
  display: flex;
  flex-direction: column;
  width: 15vw;
  border-radius: 5px 5px 0 0;
}
.blocText {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
  margin-right: 2vh;
}
.article h6 {
  font-size: x-small;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
}
.article h5 {
  padding-top: 1vh;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font-size: small;
  line-height: 150%;
}
.article h4 {
  font-weight: 700;
  padding-top: 2vh;
  color: hsl(233, 26%, 24%);
}
footer {
  /* -------------------------------------------------------------------  footer */
  height: 20vh;
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20vh 0 20vh;
  border: 0;
  background-color: hsl(233, 26%, 24%);
}
.foot {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 20vh;
}
.BoxLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  width: 20%;
}
.BoxRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  font-size: large;
  font-weight: 300;
  align-items: flex-end;
  align-content: flex-end;
  flex-grow: 3;
}
.LogoWhite {
  display: flex;
  justify-content: space-between;
}
.feeds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Liens {
  width: 50vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 6vh;
}
.Liens a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: smaller;
}
.Ul1 {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 150%;
}
.Ul2 {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 150%;
}
.Liens ul .Ul1 .Ul2 {
  text-decoration: none;
  display: inline-block;
  list-style: none;
  height: 12vh;
}
.Liens ul li .Ul1 .Ul2 {
  padding: 4vh 1vh 4vh 1vh;
}
.Liens li .Ul2 {
  height: 12vh;
}
.Liens li:hover .Ul2 {
  display: inline-block;
  color: #31d35c;
}
.BoxRight h5 {
  color: white;
  font-size: small;
  font-weight: 300;
  color: hsl(233, 8%, 62%);
}
path:hover {
  fill: hsl(136, 65%, 51%);
}
.Ul1 a:hover {
  color: hsl(136, 65%, 51%);
}
.Ul2 a:hover {
  color: hsl(136, 65%, 51%);
}

@media screen and (max-width: 800px) {
  /* ----------------------- 800PX ------------------------ */

  .BlocPitch {
    margin: 0;
    padding-left: 5vh;
  }

  .Blocs2 {
    padding-left: 5vh;
    margin: 0;
  }
  .blocs1 {
    padding: 5vh;
  }

  .Logo {
    display: flex;
    margin-left: 0;
  }
  .Why {
    padding-left: 5vh;
    width: auto;
  }
  header {
    padding: 5vh;
  }

  li {
    font-size: small;
  }

  .BtnRequest {
    font-size: x-small;
  }
}

@media screen and (max-width: 375px) {
  /* ---------------------- 375px --------------------------*/
 
  .main{
    
    overflow-x: hidden;
    width: 375px;
    
    
  }
  header {
    
    font-size: medium;
    display: flex;
    flex-direction: row;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: 0;
    z-index: 2;
    background-color: white;
  }

  header .BtnRequest {
    visibility: hidden;
  }

  header ul {
    visibility: hidden;
  }

  .ImgPhones {
    position: absolute;
    justify-items: center;
    display: flex;
    margin: 0;
    display: flex;
    width: 20vww;
  
  }
  .bg-intro {
    visibility: hidden;
  }
  .bg-mockups img {
    display: flex;
    margin-top: -80vw;
    margin-left: auto;
    width: 80vw;
    align-content: center;
    
    justify-content: center;
    justify-items: center;
  }
  .bg-intro {
    visibility: hidden;
  }
  .Pitch {
    display: flex;
    align-content: center;
    height: 170vw;
  }
  .BlocPitch {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding-top: 35vh;
    padding-left: 3vh;
    align-items: center;
    align-content: center;
  }
  .BlocPitch h1 {
    display: flex;
    font-size: 2rem;
    text-align: center;
  }
  .BlocPitch h5 {
    display: flex;
    text-align: center;
    font-size: 0.8rem;
  }

  .BtnRequest {
    height: 5vh;
    width: 20vh;
    font-size: 0.8rem;
  }
  .Why {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5vh;
    padding-left: 0;
    padding-left: 4vh;
    padding-right: 4vh;
  }

  .Why h2 {
    font-size: 2rem;
    font-weight: 300;
  }
  .blocs1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 16%, 96%);
  }
  .Online {
    margin: 0;
    padding: 0;
  }
  .Choose {
    margin-bottom: 180vw;
  }
  .Articles {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 220vh;
    padding: 0;
  }
  .Blocs2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .Title {
    margin: 0;
    padding-bottom: 10vh;
    padding-left: 0;
  }
  .imgArticle img {
    text-align: center;
    width: 70vw;
  }
  .article {
    display: flex;
    align-items: center;
    padding: 0;
    width: 70vw;
    margin: 0;
  }
  .blocText {
    text-align: left;
    width: 60vw;
  }

  footer {
    height: 150vw;
    width: auto;
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 26%, 24%);
    margin: 0;
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vw;
    width: 100vw;
  }
  .BoxLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
  }
  .LogoWhite {
    justify-content: space-around;
  }
  .feeds {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .Liens {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    align-items: center;
    width: 50vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
  }
  .Liens a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: smaller;
  }
  .Liens li:hover .Ul2 {
    display: inline-block;
    color: #31d35c;
  }
  .BoxRight h5 {
    color: white;
    font-size: small;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
  }
  path:hover {
    fill: hsl(136, 65%, 51%);
  }
  .Ul1 a:hover {
    color: hsl(136, 65%, 51%);
  }
  .Ul2 a:hover {
    color: hsl(136, 65%, 51%);
  }
  .BoxRight {
    margin-top: 5vh;
    margin-bottom: 0;
    display: flex;
    height: 40vh;
    align-items: center;
  }
}
